.todoItem {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 100%;
    padding: 16px;
    border: none;
    background: white;
    outline: none;
    box-sizing: border-box;
    min-height: 50px;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
    text-align: left;
    position: relative;
    font-family: 'DM Sans', sans-serif;
}

.todoItem__text {
    margin-left: 15px;
}

.todoItem__text:hover {
    cursor: pointer;
}

.todoItem__checkbox  {
    font-size: 30px;
    margin: 0 !important;
}

.todoItem__delete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    background: none;
    font-size: 30px;
}

.todoItem:hover .todoItem__delete {
    display: block;
}

.todoItem__delete:after {
    content: '×'
}

.edit__input {
    width: 100%;
    padding: 16px 10px;
    border: none;
    background: white;
    box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
    outline: none;
    box-sizing: border-box;
    height: 50px;
    font-size: 24px;
}

@keyframes labelAnimation {
    from {
        text-decoration-color: transparent;
        opacity: 1;
    }
    to {
        text-decoration-color: auto;
        opacity: 0.5;
    }
}

.labelAnimation {
    text-decoration: line-through;
    animation: labelAnimation 0.2s linear;
    opacity: 0.5;
}

@media (max-width: 430px) {
    .todoItem {
        font-size: 18px;
    }

    .todoItem__delete {
        display: block;
    }
}
